<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeVersion=1.4"/>
        <listEntry value="package=com.ivankimanoos.mycoolwebapp"/>
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-webapp"/>
        <listEntry value="groupId=com.ivankimanoos"/>
        <listEntry value="artifactId=mycoolwebapp"/>
        <listEntry value="outputDirectory=C:\Users\ivana\eclipse-workspace\udemy_java_eclipse"/>
        <listEntry value="version=1.0"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\ivana\eclipse-workspace\udemy_java_eclipse"/>
</launchConfiguration>
